@model IEnumerable<BookVM>

<div class="container-fluid">

    <!-- Page Heading -->
    <a class="btn btn-success" asp-controller="Book" asp-action="Create">Create Book</a>
    <a class="btn btn-primary" asp-controller="Book" asp-action="AddAuthor">Add author to book</a>
    <a class="btn btn-danger" asp-controller="Book" asp-action="RemoveAuthor">Remove author to book</a>

    <!-- DataTales Example -->
    <div class="card shadow mb-4 mt-3">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Page count</th>
                            <th>Authors</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td>@item.PageCount</td>
                                <td>
                                    @if (item.AuthorsNames is null )
                                    {
                                        <span>none</span>
                                    }                
                                    else
                                    {
                                        @foreach (var author in item.AuthorsNames)
                                        {
                                            <span>@author ,</span>
                                        }
                                    }
                                </td>
                                <td>
                                    <a class="btn btn-primary" asp-action="Detail" asp-route-id="@item.Id">Detail</a>

                                    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    <form asp-action="Delete" asp-route-id="@item.Id" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>